body{
    CSS
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,67,222,1) 32%, rgba(164,151,240,1) 64%, rgba(195,184,251,1) 100%);

}
a{
    color: white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* img{
    width: 40%;
    height: 50%;
} */
h1{
    color: rgb(255, 255, 255);
}
img{
    width: 250px; /* Ancho de la imagen */
    height: 250px;
}
tr:hover{
    background-color: rgb(90, 0, 173);
}

input{
    border-radius: 3px;
    border: 3px solid rgb(73, 23, 255);
    background-color: rgb(205, 173, 236);
}
.inputcolor{
    background-color: rgb(196, 107, 255);
}
#contraseña{
    background-color: rgb(143, 160, 255);
    color: rgb(52, 55, 255);
}